:root {
    --foreground: #fff;
    --accent-foreground: #bbb;
    --hover-accent-foreground: #fff;
    --background: #222;
    --hover-background: #555;
    --background-layered: #444;
    --accent-background-layered: #6e6b4a;
}

body {
    margin: 0;
    color: var(--foreground);
    background-color: var(--background);
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

div {
    background-color: var(--background);
}

.navbar {
    height: 3%;
    border-bottom: 1px solid var(--accent-foreground);
}

.topbar-dropdown-options {
    border-top: 1px solid var(--accent-foreground);
    position: absolute;
}

.topbar-dropdown {
    display: inline-block;
}

.topbar-dropdown-title {
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px;
    border-right: 1px solid var(--accent-foreground);
}

.topbar-dropdown-title:hover {
    background-color: var(--hover-background);
    color: var(--hover-accent-foreground);
}


.topbar-dropdown-option {
    margin-left: -1px;
    padding: 4px 10px;
    border: 0 solid var(--accent-foreground);
    border-width: 0 1px 1px 1px;
    cursor: pointer;
}

.topbar-dropdown-option:hover {
    background-color: var(--hover-background);
    color: var(--hover-accent-foreground);
}

.modal {
    position: absolute;
    left: 10vw;
    top: 10vh;
    border: 2px solid var(--foreground);
    width: 80vw;
    height: 80vh;
}

.modal-topbar * {
    background-color: var(--accent-background-layered);
}
.modal-topbar {
    contain: layout;
    background-color: var(--accent-background-layered);
    border-bottom: 1px solid var(--foreground);
}
.modal, .modal-content, .modal-content :not(input, select, option) {
    background-color: var(--background-layered);
}
.modal-title {
    padding: 8px 0 4px 10px;
    width: 90%;
    float: left;
}
.modal-cancel {
    padding: 6px 10px 4px 0;
    color: #f44;
    width: 5%;
    float: right;
    text-align: right;
    cursor: pointer;
    font-weight: 1000;
}
.modal-cancel:hover {
    color: #d00;
}