:root {
    --foreground: #fff;
    --accent-foreground: #bbb;
    --hover-accent-foreground: #fff;
    --accent-foreground-alt: #bbb;
    --hover-accent-foreground-alt: #999;
    --background: #222;
    --hover-background: #555;

    --background-layered: #444;
    --hover-background-layered: #222;

    --foreground-layered: #fff;
    --foreground-layered-alt: #fff;

    --background-layered-alt: #666;
    --hover-background-layered-alt: #888;

    --accent-background-layered: #6e6b4a;

    --navbar-height: 27px;

    --navbar-scroller-height: 100%;
}

body {
    margin: 0;
    color: var(--foreground);
    background-color: var(--background);
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: var(--foreground);
}

div {
    display: flex;
}

.navbar {
    height: var(--navbar-height);
    z-index: 100;
    border-bottom: 1px solid var(--accent-foreground);
}

.topbar-dropdown-options {
    border-top: 1px solid var(--accent-foreground);
    position: absolute;
}

.topbar-dropdown {
    display: inline-block;
}

.topbar-dropdown-title {
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px;
    border-right: 1px solid var(--accent-foreground);
}

.topbar-dropdown-title:hover {
    background-color: var(--hover-background);
    color: var(--hover-accent-foreground);
}

.topbar-dropdown-option {
    background-color: var(--background);
    margin-left: -1px;
    padding: 4px 10px;
    border: 0 solid var(--accent-foreground);
    border-width: 0 1px 1px 1px;
    cursor: pointer;
}

.topbar-dropdown-option:hover {
    background-color: var(--hover-background);
    color: var(--hover-accent-foreground);
}

.page-navbar-scroller {
    height: var(--navbar-scroller-height);
    overflow-x: auto;
}

.page-navbar {
    display: inline-block;
    text-wrap: nowrap;
    z-index: 99;
    height: var(--navbar-height);
    border-bottom: 1px solid var(--accent-foreground);
}

.page-navbar-topbar-dropdown {
    display: inline-block;
    height: 100%;
    border-right: 1px solid var(--accent-foreground);
}

.page-navbar-topbar-dropdown-title {
    cursor: pointer;
}

.page-navbar-topbar-dropdown-title:hover, .selected .page-navbar-topbar-dropdown-title {
    background-color: var(--hover-background);
    color: var(--hover-accent-foreground);
}

.modal {
    flex-direction: column;
    border: 2px solid var(--foreground);
}

.modal-topbar * {
    background-color: var(--accent-background-layered);
}
.modal-topbar {
    justify-content:space-between;
    background-color: var(--accent-background-layered);
    border-bottom: 1px solid var(--foreground);
}
.modal, .modal-content, .modal-content {
    background-color: var(--background-layered);
}
.modal-title {
    padding: 8px 0 4px 10px;
    width: 90%;
    height: 5%;
    float: left;
}
.modal-content {
    flex-grow: 100;
}

.modal-minimize {
    margin: 2px 4px 2px 0px;
    padding: 2px 6px;
    color: #aaa;
    float: right;
    text-align: right;
    cursor: pointer;
    font-weight: 1000;
}
.modal-cancel {
    margin: 4px 4px 2px -6px;
    padding: 2px 6px;
    color: #f44;
    float: right;
    text-align: right;
    cursor: pointer;
    font-weight: 1000;
}
.modal-cancel:hover {
    color: #d00;
}

.page {
    position: absolute;
    width: 100%;
    height: calc(100% - (2 * var(--navbar-height)) - 5px);
}

.page-topbar {
    pointer-events: none;
    position: absolute;
    background: none;
    justify-content: end;
    width: 100%;
    height: 3%;
    font-size: 14px;
}

.page-topbar-right {
    height: 100%;
}

.page-title {
    align-items: center;
    margin-bottom: 1px;
    pointer-events: auto;
}

.page-cancel {
    font-size: 16px;
    align-items: center;
    color: #f44;
    padding: 2px 6px;
    text-align: right;
    cursor: pointer;
    pointer-events: auto;
}
.page-cancel:hover {
    color: #d00;
}

.page-contents {
    width: 100%;
    height: 100%;
}

.lazy-selector {
    overflow-x: auto;
}

.lazy-selector-selectable-contents {
    background-color: var(--background-layered);
}

.lazy-selector-selectable-item {
    user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
    text-wrap: nowrap;
    vertical-align: middle;
}
.lazy-selector-selectable-item.selectable {
    cursor: pointer;
}

.lazy-selector-selectable-item:nth-child(even) {
    background-color: var(--background-layered);
}
.lazy-selector-selectable-item.selectable:nth-child(even):hover {
    background-color: var(--hover-background-layered);
}
.lazy-selector-selectable-item:nth-child(even).selectable.selected {
    background-color: var(--foreground-layered);
    color: var(--background-layered);
}

.lazy-selector-selectable-item:nth-child(odd) {
    background-color: var(--background-layered-alt);
}
.lazy-selector-selectable-item.selectable:nth-child(odd):hover {
    background-color: var(--hover-background-layered-alt);
}
.lazy-selector-selectable-item:nth-child(odd).selectable.selected {
    background-color: var(--foreground-layered-alt);
    color: var(--background-layered-alt);
}

.scrollbar {
    background-color: var(--foreground);
}

.scroll-cursor {
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: var(--background);
    background-color: var(--accent-foreground-alt);
}

.scroll-cursor:hover {
    background-color: var(--hover-accent-foreground-alt);
}

.metric-star {
    cursor: pointer;
    line-height: 17px;
}

.metric-star.selected {
    color: #c88d14;
}

.metric-star.hovered, .metric-star.hovered.selected {
    color: #ffb419;
}